.hero {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 20px;
  overflow: hidden;
  background: #000;
  cursor: url("../assets/torch.png"), auto;
}

.hero-content {
  position: relative;
  z-index: 3;
  font-family: "Titillium Web", sans-serif; 
}

.highlight {
  font-weight: bold;
  -webkit-text-stroke: 2px #00ffff;
  color: transparent;
}

h1 {
  font-size: 5rem;
  margin-bottom: 10px;
  font-weight: 200;
}

.text-animation {
  overflow: hidden;
  height: 1.8rem;
  position: relative;
}

.text-animation h2 {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: fadeInOut 9s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.text-animation h2:nth-child(1) {
  animation-delay: 0s;
}
.text-animation h2:nth-child(2) {
  animation-delay: 3s;
}
.text-animation h2:nth-child(3) {
  animation-delay: 6s;
}

p.tagline {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.cta {
  background-color: transparent;
  padding: 12px 24px;
  border: 1px solid #00cc00;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta:hover {
  background-color: #00cc00;
  color: black;
}


.network-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  background: #000;
}

.network-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 255, 0, 0.05) 10%,
    rgba(0, 0, 0, 0.6) 70%
  );
  z-index: 1;
}

.network-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(0, 255, 0, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 255, 0, 0.2) 50%,
    rgba(0, 255, 0, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-size: 40px 40px;
  z-index: 2;
  opacity: 0.2;
  animation: glowingLines 2s linear infinite;
}

@keyframes glowingLines {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.2;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  .text-animation h2 {
    font-size: 1.5rem;
  }

  p.tagline {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  .text-animation h2 {
    font-size: 1.2rem;
  }

  p.tagline {
    font-size: 1rem;
  }

  .cta {
    padding: 10px 20px;
  }
}
